body {
  background-color: #51adcf;
}

hr {
  border-color: gray;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

h1{
  color: #9d65c9;
}
h2{
  color: #9d65c9;
}
h3{
  color: #9d65c9;
}
#lulzsec{
  border-radius: 100%;
}
